<div class="edit-comment">
  <%= bootstrap_form_for [@post, @comment] do |f| %>
    <%= f.text_area :body, required: true %>
    <%= f.text_field :author_name, required: true %>
    <%= f.submit "Update Comment" %>
  <% end %>
</div>
