<div class="row">
  <div class="col-md-8 col-md-offset-2 well">
    <ul>
    <li><h3> <%= @post.title %> <span class="author-show">By <%= @post.author %></span></h3></li>
    <li class="post-body"><%= markdown(@post.body).html_safe %></li>
    <li class="mark-draft"><%= link_to 'Mark as Draft', draft_path(@post), method: 'delete' %></li>
    </ul>
  </div>
</div>
