body{
  font-family: 'Droid Sans', sans-serif;
  background: url(/assets/cat-astro.jpg);
}

.author-show {
  font-size:12px;
}

.comment-create {
  margin-left: 10px;
}

.post-show {
  margin-left: 40px;
}

.comment-index {
  margin-top: 20px;
  background: rgba(58, 217, 242, 0.3);
}

.btn {
    border: 0 none;
    font-weight: 400;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.color-links {
  color: white;
}

.btn-sky {
  background-color: #0bacd3;
  border-bottom:2px solid #098aa9;
}

.btn-fresh {
  background-color: #51bf87;
  border-bottom:2px solid #41996c;
}

.btn-sunny {
  background-color: #f4ad49;
  border-bottom:2px solid #c38a3a;
}
#new-post-form.navbar-nav>li {
  width: 1160px;
}

form#new_post.new_post {
  width: 900px;
}

.img-circle {
  margin-left: 400px;
}

.well {
  background: rgba(59, 205, 228, 0.3);
}

.draft-img {
  margin-left: 570px;
}

li {
  list-style-type: none;
}
