<div class="row">
  <div class="col-md-4 col-md-offset-4">
   <h1>Draft Posts</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <%= render partial: 'shared/post_table', locals: { posts: @posts} %>
    </div>
  </div>
</div>
