<div class="row">
  <div class="col-md-4 col-md-offset-4">
   <h1>Draft Posts</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <ul class="post-display">
        <% @posts.each do |post| %>
        <li class="title"><h4><%= link_to post.title, drafts_path(post) %></h4></li>
        <li class="post-body"><%= markdown(post.body).html_safe %></li>
        <li class="author"><%= post.author %></li>
        <li><%= post.status %></li>
        <% end %>
        <br/>
      </ul>
    </div>
  </div>
</div>
